#footer
  %ul.b_menu
    %li
      = link_to 'О КОМПАНИИ', '#'
    %li
      = link_to 'КАТАЛОГ ПРОДУКЦИИ', '#'
    %li
      = link_to 'ОТЗЫВЫ', '#'
    %li
      = link_to 'ДОСТАВКА', '#'
    %li
      = link_to 'ДИЛЕРЫ', '#'
    %li
      = link_to 'КОНТАКТЫ', '#'
  .clear_div
  .copy СИНАПОЛ © 2013