#block_slider
  .slider_description
    Компания ООО «Синапол» — одна из ведущих российских компаний по разработке и производству технологических смазок, смазочно-охлаждающих жидкостей для обрабатывающей промышленности и разделительных смазок для производства бетонных изделий. Мы изготавливаем и реализуем смазочно-охлаждающие жидкости (CОЖ и СОТС) для волочения, прокатки, резки, шлифовки металлов и сплавов, а так же для камнеобработки. Смазки и эмульсолы для опалубки, форм ЖБИ в настоящее время применяются многими строительными компаниями и предприятиями по производству железобетонных изделий. Наши продукты c торговой маркой «Синапол» и «Нометол» получили патенты Российской Федерации на изобретения.
    %br/
  %ul.slider_paginavi
    = link_to '', '#'
      %li.slader_strelka_left &nbsp
    = link_to '', '#'
      %li &nbsp
    = link_to '', '#'
      %li.active &nbsp
    = link_to '', '#'
      %li &nbsp
    = link_to '', '#'
      %li.slader_strelka_right &nbsp;

#about
  = image_tag( 'germany-map.png' )
  %h1 СДЕЛАНО В ГЕРМАНИИ
  %p Компания ООО «Синапол» — одна из ведущих российских компаний по разработке и производству технологических смазок, смазочно-охлаждающих жидкостей для обрабатывающей промышленности и разделительных смазок для производства бетонных изделий. Мы изготавливаем и реализуем смазочно-охлаждающие жидкости (CОЖ и СОТС) для волочения, прокатки, резки, шлифовки металлов и сплавов, а так же для камнеобработки. Смазки и эмульсолы для опалубки, форм ЖБИ в настоящее время применяются

#catalog
  %h1 КАТАЛОГ
  .product
    = image_tag( 'product-1.png' )
    %h3 СИНАПОЛ (Эмульсол)
    %p
      Концентрат
      %br/
      многофункциональной
      %br/
      смазочно-охлаждающей
      %br/
      жидкости (концентрат СОЖ)
  .product
    = image_tag( 'product-2.png' )
    %h3 СИНАПОЛ-ЭКТ (Эмульсол)
    %p
      “СИНАПОЛ-ЭКТ”
      %br/
      Для механической
      %br/
      обработки металлов
      %br/
      и сплавов.
  .product
    = image_tag( 'product-3.png' )
    %h3 НОМЕТОЛ-9 (Эмульсол)
    %p
      Разделительная эмульсия
      %br/
      для смазывания
      %br/
      полиуретановых,
      %br/
      полипропиленовых форм
  .last_product
    = image_tag( 'product-4.png' )
    %h3 НОМЕТОЛ-9-0
    %p
      Разделительная смазка
      %br/
      для смазывания
      %br/
      полиуретановых,
      %br/
      полипропиленовых форм
  .product
    = image_tag( 'product-5.png' )
    %h3 НОМЕТОЛ-7 (Эмульсол)
    %p
      Концентрированная
      %br/
      многофункциональная
      %br/
      смазочно-охлаждающая
      %br/
      жидкость
  .product
    = image_tag( 'product-6.png' )
    %h3 СИНАПОЛ-СБЕ (Эмульсол)
    %p
      СОЖ, представляющая
      %br/
      собой комплекс биологически
      %br/
      неактивных растворимых
      %br/
      полимеров
  .product
    = image_tag( 'product-7.png' )
    %h3 ТАНИОЛ (Эмульсол)
    %p
      Концентрат
      %br/
      многофункциональной
      %br/
      смазочно-охлаждающей
      %br/
      жидкости
  .last_product
    = image_tag( 'product-8.png' )
    %h3 РЕГАТОЛ
    %p
      Концентрат
      %br/
      смазочно-охлаждающей
      %br/
      жидкости применяется
      %br/
      в виде водной эмульсии

#otzyvy
  %h1 ОТЗЫВЫ
  = link_to '', '#'
    = image_tag( 'otzyvy_left_strelka.png', class: 'otzyvy_left_strelka' )
  .otzyv
    .name
      Анищенко Сергей Петрович
      %br/
      ООО “Техспор”
    .description
      “Очень довольны продуктом компании
      %br/
      Синапол. Всем рекомендую к использованию!
      %br/
      также хочу отметить расторопность отдела
      %br/
      продаж нашего партнера. Не пожалеете”
  .otzyv
    .name
      Анищенко Сергей Петрович
      %br/
      ООО “Техспор”
    .description
      “Очень довольны продуктом компании
      %br/
      Синапол. Всем рекомендую к использованию!
      %br/
      также хочу отметить расторопность отдела
      %br/
      продаж нашего партнера. Не пожалеете”
  .otzyv
    .name
      Анищенко Сергей Петрович
      %br/
      ООО “Техспор”
    .description
      “Очень довольны продуктом компании
      %br/
      Синапол. Всем рекомендую к использованию!
      %br/
      также хочу отметить расторопность отдела
      %br/
      продаж нашего партнера. Не пожалеете”
  = link_to '', '#'
    = image_tag( 'otzyvy_right_strelka.png', class: 'otzyvy_right_strelka' )

#dostavka
  .img_block
    %h1 О ДОСТАВКЕ
    = image_tag( 'car_dostavka.png' )
  .text
    %p При оформлении покупки online или в нашем магазине вы можете заказать доставку товара на дом или в офис. Заказывая товары с доставкой, вы сокращаете путь к заказу до входной двери квартиры или офиса, а мы в свою очередь помогаем вам сберечь ваше время и силы, сделать легким и удобным весь процесс покупки.
    %p Мы осуществляем доставку по Санкт-Петербургу, а также по Ленинградской области в пределах 50 км от КАД.
    %p Каждый этап доставки с момента заказа услуги до получения товара вы можете отслеживать в вашем личном кабинете или позвонив нам по телефону
  .text_last
    %p Стоимость различных видов доставки по Ленинградской области зависит от удаленности от Санкт-Петербурга. Рассчитать стоимость доставки по Ленинградской области вы можете в личном кабинете при оформлении заказа или позвонив нам по телефону (812) 336-37-77.
    %p Вид доставки и ее стоимость определяются автоматически при заказе услуги в ходе оформления заказа в системе online-резервирования www.ulmart.ru, либо сообщаются нашими сотрудниками при осуществлении покупки в магазине или по телефону call-центра.

#dilery
  %h1 ДИЛЕРЫ
  %ul.dilery
    %li Москва
    %li Екатеринбург
    %li Самара
    %li Ростов-на-Дону
    %li Красноярск
    %li Санкт-Петербург
    %li Нижний Новгород
    %li Омск
    %li Уфа
    %li Пермь
    %li Новосибирск
    %li Казань
    %li Челябинск
    %li Волгоград
    %li Воронеж
  .clear_div
  %button.stat_dilerom стать дилером

#map
  %h1 КОНТАКТЫ
  .contact_block
    .left_contact_block"
      Офис и склад на 16км МКАД:
      %br/
      140091, Московская область, г. Дзержинский, ул. Энергетиков д.4
      %br/
      Территория сервис-центра КАМАЗ - 400 м от МКАД между
      %br/
      Каширским и Рязанским шоссе
    .right_contact_block
      Тел./Факс : (495) 221-8455
      %br/
      Резервные телефоны: (495) 745-5959
      %br/
      Email: sinapol@kanpro.ru